* {
  box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

nav article {
  text-align: center;
  border-color: black;
  border-width: 20px;
}

main{
  height: 500px;
  background-image: url("images/background/index-bg.png");
  background-size: cover;
  opacity: 20%;
  background-color: #cccccc;
  
}

footer{
  letter-spacing: 10px;
  text-align: center;
  background-color: gainsboro;
  height: 84px;
  padding: 10px;
}

h4{
  margin: 0;
  padding-top: 10px;
}

h1{
  font-size: 50px;
  margin: 0px;
}
article h3{

  margin: 0px;
  background: white;
  width: 170px;
  color: black;
}

article h3{
  padding-top: 10px;
}

.right {
  position: absolute;
  right: 0px;
  width: 150px;
  padding: 0px;
}


a:link {color: black}
a:visited {color: black}
a:hover {color: gray}
a:active {color: black}

footer a:link {color: blue}