* {
  box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
}

main{
  height: 500px;
  background-image: url("images/background/index-bg.jpg");
  opacity: 20%;
  background-color: #cccccc;
}

footer{
  background-color: gainsboro;
}

h1{
  font-size: 50px;
  margin: 0px;
}
article h3{
  margin: 0px;
  background: white;
  width: 170px;
  color: black;
}

header nav {
  text-align: center;
  border-color: black;
  border-width: 20px
}

.right {
  position: absolute;
  right: 0px;
  width: 150px;
  padding: 0px;
}


a:link {color: black}
a:visited {color: black}
a:hover {color: gray}
a:active {color: black}

footer a:link {color: blue}