* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.header-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  font-family: 'Baloo Tammudu 2', serif; /*Font from google library*/
}

header{
    background-color: black;  /*Nice contrasting black background for the header*/
    color: white;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    /*height: 110px;
    position: relative;*/
}

nav {
  display: flex;  /*Nav bar that stands out from the header*/
  justify-self: end;
  border: 1px black solid;
  text-align: center;
}

h2{
  margin-bottom: 0px;
  font-size: 30px;
}

main{  /*The bulk of the page, designed to fill the entire display, minus the header and the footer*/
  /*position: relative;
  min-height: calc(100vh - 194px);*/
  background-image: url("images/background/index-bg.jpg");
  background-size: cover;
  opacity: 100%;
  background-color: #cccccc;
  
}

p {
  margin: 0px;
  font-size: 20px;
}

ul {
  text-align: left;
  font-size: 20px;
}

ol {
  font-size: 20px;
}
main section{ /*White boxes with black borders designed to store content stylishly*/
  /*position: absolute;
  top: 5%;
  left: 5%;
  height: 40%;
  width: 40%;*/
  background-color: white;
  text-align: center;
}

footer{   /*Just enough space to fit external comunnication icons*/
  letter-spacing: 10px;
  text-align: center;
  background-color: gainsboro;
  height: 84px;
  padding-top: 10px;
  margin: 0px;
}

h4{
  margin: 0;
  padding-top: 10px;
}

h1{
  font-size: 40px;
  margin: 0px;
}
article h3{

  margin: 0px;
  background: white;
  /*width: 170px;*/
  color: black;
  padding-top: 10px;
}


.item-half{
  flex: 0.5;
  margin: 50px;
}
.item{
  flex: 1;
  margin: 50px;
}
.item-double{
  flex: 2;
}

.border{
  border: 5px gray solid;
  border-radius: 10px;
}

.no-bgd{
  background: none;
}

main img{
  width: 100%;
}

@media all and (min-width: 800px){
  header h1{
    font-size: 50px;
  }
  h2{
    font-size: 40px;
  }

  p{
    font-size: 25px;
  }

  li{
    font-size: 25px;
  }
  .wrapper{
    display: flex;
    flex-direction: row;
  }
}

a:link {color: black}
a:visited {color: black}
a:hover {color: gray}
a:active {color: black}